body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #222c35, #000000);
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #faf9f9;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

#header-message {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #222c35;
    padding: 10px;
    position: relative;
}

#header-message h1 {
    font-size: 2em;
    font-weight: bold;
    color: #faf9f9;
    margin: 0;
    text-shadow: 2px 2px 2px #1e2a87e1;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

input, textarea, select, button {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

#tasks-list, #completed-tasks-list {
    margin-top: 20px;
}

#tasks-list div, #completed-tasks-list div {
    background: #f8f9fa;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.complete-btn {
    margin-left: 5px;
}

button.start-btn,
button.complete-btn
 {
    width: 30%;
    height: 30px;
    font-size: 14px;
}

#clear-completed-tasks-container {
    margin-top: 20px; /* Ajusta el valor según sea necesario */
}

#clear-completed-tasks-btn {
    margin-top: 10px; /* Ajusta el valor según sea necesario */
}



#timer {
    margin-top: 20px;
    text-align: center;
}

#timer-display {
    font-size: 2em;
    margin: 20px 0;
    display: block;
    color: #007bff;
}

#start-timer, #stop-timer {
    margin-top: 10px;
    padding: 20px 12px;
    font-size: 12px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #222c35;
    color: #faf9f9;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #333;
}

footer p {
    margin: 0;
}
